<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>PSI</title>
<link th:href="@{/css/siimple.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/datepicker.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="col-12">
		<br />
		<div class="col-2"></div>
				<div class="col-4">
			<h2 class="left">Register</h2>
			<form th:object="${akun}" th:action="@{/createAkun}" method="post">
				<input type="hidden" th:field="*{id}"/><input type="text"
					class="form-input" placeholder="Username" th:field="*{username}" />
				<p style="color: red;" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}"></p>
				<input type="email" class="form-input" placeholder="Email"
					th:field="*{email}" />
				<p style="color: red;" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}"></p>
				<input type="password" class="form-input" placeholder="Password"
					th:field="*{password}" />
				<p style="color: red;" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}"></p>

				<select class="form-select" th:field="*{role}">
					<!-- <option value="" disabled="disabled" selected="selected"></option> -->
					<option value="Donatur">Donatur</option>
				</select> <input type="submit" value="Register" class="btn right" />
			</form>
		</div>
</div>
</body>
</html>