<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">
</head>
<body>
	<div class="siimple-navbar siimple-navbar--orange siimple-navbar--fluid">
  <div class="siimple-layout--left">
    <a class="siimple-navbar-title">DoHelp Docare</a>
  </div>
  <div class="siimple-layout--right">
    <a href="/psi" data-target="#squarespaceModal" class="siimple-navbar-link">Home</a>
    <a class="siimple-navbar-link">Donasi</a>
    <a class="siimple-navbar-link">Artikel</a>
     <a href="/login" data-target="#squarespaceModal" class="siimple-navbar-link">Login</a> <!-- th:if="${akunLogin.role != null}" class="right" style="font-size: 0.6em; color: white;" th:href="${'/logout'}" th:text="${akunLogin.role}+'('+${akunLogin.username}+') SignOut'">Login</a> -->
  </div>
</div>
<div class="siimple-tabs">
  <div class="siimple-tabs-tab">Tab 1</div>
  <div class="siimple-tabs-tab">Tab 2</div>
  <div class="siimple-tabs-tab">Tab 3</div>
</div>
















<!-- <br/>
<br/>
<div class="siimple-grid">
  <div class="siimple-grid-row">
 <div class="siimple-grid-col siimple-grid-col--12" align="center">

    
     <img width="700" height ="400" src="/images/slide2.jpg" />
     
  </div>
  <br/>
     <div class="siimple-grid-col siimple-grid-col--12" align="center">
     <div class="siimple-btn siimple-btn--orange">Donasikan Sekarang</div>
  <br/>
  <br/>
  
  <div class="siimple-grid-col siimple-grid-col--4" align="center" >4</div>
    <div class="siimple-grid-col siimple-grid-col--4" align="center">4</div>
    <div class="siimple-grid-col siimple-grid-col--4" align="center">4</div>
  </div>
 </div>
 </div>
  -->
 

	
	


</body>
</html>