<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">
</head>
<body>
	<section th:replace="navbar"></section>
	<!-- Main row -->
	<div class="row">
		<!-- Left col -->



		<div class="col-md-12">


			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title" th:text="${artikel.judul_artikel}"></h3>
				</div>
				<div class="box-body">
					<!-- textarea -->
					<div class="form-group">
						<blockquote class="siimple-blockquote">
							<p th:utext="${artikel.isi_artikel}"></p>
						</blockquote>


					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- /.col -->
</body>
</html>
